.carousel{
    height: 300px;
 background-color: white;
    margin: 10px;
    color: red;
}
.carousel img{
    height: 300px;
}

Carousel.Item{
    background-color: white;
}
Carousel{
    background: red;
}
Carousel{
    background:red;
}